In [1]:
import dash                     # pip install dash
from dash.dependencies import Input, Output, State
from dash import dcc
import plotly

import numpy as np

import plotly.graph_objs as go
import plotly.express as px
import plotly.express as px

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
#import cufflinks as cf

#import dash_html_components as html
from dash import html
import plotly.express as px     # pip install plotly==5.2.2

import pandas as pd

In [2]:
df1 = pd.read_csv('Group2Data.csv')

In [3]:
#df1.rename(columns={'energy_cons': 'Energy Consumption','employees': 'Total Employee','waste': 'Waste Produced',
#                    'waste_recycled': 'Waste Recycled',
#                   'water_cons': 'Water Consumption','waste_water':'Water Wastage','renewable_energy_pct':
#                   'Renewable Energy','fuel_fleet':'Fuel Fleet','contrib_political':'Political Contribution',
#                   'waste_recycled_pct':'Waste Recycled Percentage',' legal_spending':
#                   'Legal Spending','fines_spending':'Fine Spending','employee_turnover':'Employee Turnover',
#                   'female_pct' :'Female Percentage','female_mgmt_pct':'Female Management Percentage',
#                   'employee_parental_pct':'Employee Parental Percentage','employee_tenure':'Employee Tenure',
#                   'employee_under30_pct':'Employee Under30 Percentage',
#                  'employee_over50_pct':'Employee Over50 Percentage',
#                   'training_spending':'Training spending'}, inplace=True)

df1.rename(columns={'scope_3': 'Scope 3(Emissions in Tons)','scope_2': 'Scope 2(Emissions in Tons)','scope_1':
                    'Scope 1(Emissions in Tons)','year': 'Years','energy_cons': 'Energy Consumption(GJ)','employees':
                    'Total Number of Employees','waste': 'Waste Produced(XXX)',
                    'waste_recycled': 'Waste Recycled',
                   'water_cons': 'Water Consumption(cubic meter)','waste_water':'Water Wastage(M^3)','renewable_energy_pct':
                   'Renewable Energy','fuel_fleet':'Fuel Fleet(PJ)','contrib_political':'Political Contribution(in €)',
                   'waste_recycled_pct':'Waste Recycled Percentage',' legal_spending':
                   'Legal Spending(in €)','fines_spending':'Fine Spending(in €)','employee_turnover':'Employee Turnover(%)',
                   'female_pct' :'Total Share of Female Employees','female_mgmt_pct':'Share of Female Employees in Management',
                   'employee_parental_pct':'Employee Parental Percentage','employee_tenure':'Employee Tenure',
                   'employee_under30_pct':'Share of Employees Under 30 Years Old',
                   'employee_over50_pct':'Share of Employees Over 50 Years Old',
                   'training_spending':'Training spending(in €)'}, inplace=True)

df1

,id,name,Industry,Years,scope1_intensity,scope2_intensity,scope3_intensity,Scope 1(Emissions in Tons),Scope 2(Emissions in Tons),Scope 3(Emissions in Tons),...,Fine Spending(in €),Total Number of Employees,Employee Turnover(%),Total Share of Female Employees,Share of Female Employees in Management,Employee Parental Percentage,Employee Tenure,Share of Employees Under 30 Years Old,Share of Employees Over 50 Years Old,Training spending(in €)
0,31,Kion Group AG,Industrials,2020,NaN,NaN,NaN,67900000.0,4800000.0,21300000.0,...,NaN,53122.0,664025.000000,17.2,NaN,NaN,NaN,10.6,38.1,NaN
1,31,Kion Group AG,Industrials,2019,NaN,NaN,NaN,72600000.0,4800000.0,22700000.0,...,NaN,55047.0,500427.272700,16.7,NaN,NaN,NaN,11.7,36.5,NaN
2,22,Gerresheimer AG,Industrials,2021,NaN,NaN,NaN,280410.0,272082.0,410060.0,...,NaN,10447.0,15.181392,30.8,20.20000,NaN,NaN,NaN,NaN,NaN
3,22,Gerresheimer AG,Industrials,2020,NaN,NaN,NaN,275334.0,285092.0,304024.0,...,NaN,9880.0,11.973684,33.3,18.00000,NaN,NaN,NaN,NaN,NaN
4,22,Gerresheimer AG,Industrials,2019,NaN,NaN,NaN,264803.0,282724.0,297051.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,72,Deutsche Bank,Financial Services,2019,NaN,NaN,NaN,50273.0,104671.0,2127013.0,...,NaN,87597.0,NaN,46.3,NaN,NaN,NaN,15.1,29.2,NaN
75,77,Fresenius,Health care,2021,NaN,NaN,NaN,578000.0,946000.0,NaN,...,NaN,316078.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
76,77,Fresenius,Health care,2020,NaN,NaN,NaN,536000.0,976000.0,NaN,...,NaN,311269.0,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN
77,77,Fresenius,Health care,2019,NaN,NaN,NaN,522000.0,982000.0,NaN,...,NaN,294134.0,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN
78,48,Siemens Healthineers AG,Health care,2021,NaN,NaN,NaN,106000.0,245000.0,3243000.0,...,NaN,55526.0,NaN,31.0,11.82329,NaN,NaN,28.0,18.0,NaN

In [4]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)


indicators = ['Total Number of Employees','Employee Turnover(%)', 'Total Share of Female Employees', 
              'Share of Female Employees in Management',
              'Share of Employees Under 30 Years Old','Share of Employees Over 50 Years Old',
             'Water Consumption(cubic meter)','Waste Produced(XXX)','Scope 1(Emissions in Tons)','Scope 2(Emissions in Tons)',
              'Scope 3(Emissions in Tons)']




app.layout = html.Div([
    html.H1("Dashboard for Industry Wise Exploration", style={"textAlign":"center"}),
    html.Hr(),
    html.Div([
    html.Div('In this dashboard, you can visualize ESG indicators for selected industries.',
             style={'color': 'black', 'fontSize': 18}),
        html.Div('Use the dropdown menus to select industries and indicators you would like to visualize.',
             style={'color': 'black', 'fontSize': 18}),
        html.Div('On the right-hand side of the graphs, click on the industry (firm) names to hide or unhide industries (firms) from the analysis and compare the results.',
             style={'color': 'black', 'fontSize': 18}),
    ], style={'marginBottom': 50, 'marginTop': 25,'marginLeft': 15}),
    
    html.P("Industry"),
    html.Div(html.Div([
        dcc.Dropdown(id='indus_list', clearable=False,
                     value="Health care",
                     options=[{'label': x, 'value': x} for x in
                              df1["Industry"].unique()]
                    )
    ], className="three columns"), className="row"),
    
    html.P("Indicators"),
    html.Div(html.Div([
        dcc.Dropdown(id='indi_list', clearable=False,
                     value="Total Number of Employees",
                     options=[{'label': x, 'value': x} for x in
                              indicators]),
    ],className="three columns"),className="row"),
    
    html.Div(id="output-div", children=[]),
    

    html.H2("Averages per Industry", style={"textAlign":"center"}),
    html.P("Select Multiple Industries"),
    html.Div(html.Div([
        dcc.Dropdown(id='indus_list2', clearable=False,
                     value="Industrials",
                     options=[{'label': x, 'value': x} for x in
                              df1["Industry"].unique()],multi=True),
    ],className="three columns"),className="row"),
    html.P("Select Indicator"),
    html.Div(html.Div([
        dcc.Dropdown(id='indi_list2', clearable=False,
                     value="Total Number of Employees",
                     options=[{'label': x, 'value': x} for x in
                              indicators]),
    ],className="three columns"),className="row"),
    html.Div(id="output-div2", children=[])
    
    
])

In [ ]:
@app.callback(Output(component_id="output-div", component_property="children"),
              
              Input(component_id="indus_list", component_property="value"),
              Input(component_id="indi_list", component_property="value")
              
               
)



def make_graphs(indus_list,ind_chosen):
    
    
    
    #graph1
    df_ind = df1[df1["Industry"]==indus_list]
    
    # LINE CHART
    df_line = df_ind.sort_values(by=[ind_chosen], ascending=True)
    df_line = df_line.groupby(
        ["Years","name", ind_chosen]).size().reset_index(name="count")
    #print(df_line.head())
    fig = px.line(df_line, x="Years", y=ind_chosen,color='name',markers=True)
    fig.update_xaxes(nticks=4)
    #fig.update_layout(xaxis_type='date')
    #fig.update_layout(autotypenumbers="strict")
    
    
    
    return [
        
         
        html.Div([
           html.Div([dcc.Graph(figure=fig)]),
        ], className="row"),
        
       
        
    ]
    
    
    #graph2
@app.callback(Output(component_id="output-div2", component_property="children"),            
        
              Input(component_id="indus_list2", component_property="value"),
              Input(component_id="indi_list2", component_property="value")
)

def avg_graph(indus_list2,ind_chosen2):
    
    #meandf = df.groupby(['Industry', 'years']).mean()
    
    # LINE CHART
    #df_line2 = df.sort_values(by=[ind_chosen2], ascending=True)
    #df_line2 = df_line2.groupby(
     #   ["Industry","years", ind_chosen2]).mean()
    #print(df_line.head())
    #fig2 = px.line(df_line2, x="donations", y="years",color='Industry',markers=True)
    
    df_ind1 = df1[df1["Industry"].isin(indus_list2)]
    
    # LINE CHART
    meandf= df_ind1.groupby(['Industry', 'Years']).mean().reset_index()
    #print(df_line.head())
    fig2 = px.line(meandf, x="Years", y=ind_chosen2,color='Industry',markers=True)
    fig2.update_xaxes(nticks=4)
    #fig2.update_layout(xaxis_type='date')
    #fig2.update_yaxes(
      # sets the range of xaxis
     # meanwhile compresses the xaxis by decreasing its "domain"
#)
    
    #fig2_1 = px.line(meandf, x='Industry', y=ind_chosen2,color='Industry',markers=True)
    meandf1= df1.groupby(['Industry']).mean().reset_index()
    fig2_1 = px.bar(meandf1, x="Industry", y=ind_chosen2, 
                 color="Industry" )
    
    return [
        
         
        html.Div([
           html.Div([dcc.Graph(figure=fig2)]),
        ], className="row"),
        html.Div([
           html.Div([dcc.Graph(figure=fig2_1)]),
        ], className="row"),
        
        
       
        
    ]
    
    


if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Aug/2022 22:56:28] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "GET /_favicon.ico?v=2.4.1 HTTP/1.1" 200 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\dash\dash.py", line 1372, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\SHOAIB~1\AppData\Local\Temp/ipykernel_7352/1099220864.py", line 60, in avg_graph
    df_ind1 = df1[df1["Industry"].isin(indus_list2)]
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\pandas\core\series.py", line 5025, in isin
    result = algorithms.isin(self._values, values)
  File "C:\Users\Shoaib Malik\anaconda3\lib\site-packages\pandas\core\algorithms.py", line 459, in isin
    raise TypeError(
TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

127.0.0.1 - - [09/Aug/2022 22:56:29] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [09/Aug/2022 22:56:29] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -